/* Write your CSS here */

.div {
  background-color: #07080c;
  height: 100vh;
  text-align: center;
}
.img {
  max-height: 500px;
  max-width: 500px;
}
h1 {
  color: white;
}
.para {
  color: white;
}
.btn {
  background-color: #0b69ff;
  height: 50px;
  width: 100px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  color: white;
}
.btn-container {
  padding: 10px;
  margin: 20px;
}
